*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.container{
    text-align: center;
    padding: 70px;
}

h1{
    font-size: 40px;
    color:white;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
Input[type = number]{
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    
}

.output{
    display: flex;
    flex-direction: column;
    border: 5px solid white;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
}
.gramOutput{
    background-color: blue;
    height: 60px;
    text-align: left;
    margin:4px;
    padding: 5px;
    border-radius: 5px;
    color:whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}

.kiloGramOutput{
    background-color: brown;
    height: 60px;
    text-align: left;
    margin:4px;
    padding: 5px;
    border-radius: 5px;
    color:whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}

.ouncesOutput{
    background-color: green;
    height: 60px;
    text-align: left;
    margin:4px;
    padding: 5px;
    border-radius: 5px;
    color:whitesmoke;
    font-family: 'Courier New', Courier, monospace;  
}

.poundsOutput{
    background-color: skyblue;
    height: 60px;
    text-align: left;
    margin:4px;
    padding: 5px;
    border-radius: 5px;
    color:whitesmoke;
    font-family: 'Courier New', Courier, monospace;  
}


